*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
  box-sizing: border-box;
}
body{
  font-size: 1.6rem;
  height: 100vh;
  background-color: rgb(37, 37, 41);
  color: white;  
  box-sizing: border-box;
  font-family: "Nunito",sans-serif;
}
.fixed_wrap{
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #FFD400;
  clip-path: polygon(75% 0, 100% 0, 100% 100%, 50% 100%);
}
.app_wrapper{
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app_container{
  min-width: 1500px;
  width: 1500px;
  height: 800px;
  display: grid;
  z-index: 1000;
  border-radius: 5px;
  overflow: hidden;
  grid-template-columns: 280px auto;
  grid-template-rows: auto;
  grid-template-areas: "menu main";
}

.star__text{
  display: none;
}