.movie{
  position: relative;
  height: calc(100% - 60px);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  .cntr{
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .btn{
    border:none;
    cursor: pointer;
    font-size: 1.4rem;
    margin-top:2rem;
    margin-right: 2rem;
    font-weight: 700;
    border-radius: 10px;
    padding:1rem 2rem;
    text-transform: uppercase;
    transition:all .5s;
    background: transparent;
    color: white;
    &:focus{
      outline: none;
    }
    &:hover{
      transform: translateY(-2px);
    }
    &-red{
      background: crimson;
      color: white;
    }
    &-white{
      background: white;
      color: black;
    }
  }
  &_banner{
    width: 40%;
    height: 100%;
    background: green;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &_info{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    background: black;
    .details{
      padding: 4rem;

    }
    .trailer{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      flex:1;
    }
    .play{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      img{
        backface-visibility: hidden;
        cursor: pointer;
        width: 50px;
        transition:  all .3s;
        &:hover{
          transform: translateY(-5px);
        }
      }
    }
    .title{
      margin-bottom: 1rem;
      text-transform: uppercase;
      letter-spacing: 0.3rem;
      font-weight: bold;
    }
    .d{
      margin: 0 1rem;
      font-weight: 700;
    }
    .g{
      margin: 1rem 0;
      display: inline-block;
      margin-right: 1rem;
      font-weight: 700;
      color: #FCDB37;
    }

    .overview{
      margin: 1rem 0;
      color: white;
      font-weight: bold;
    }

  }
}
