.top{
  min-height: calc(100% - 60px);
  width: 100%;
  position: relative;
  animation-duration: .5s;
}

.top__feed{
  width: 100%;
  min-height: 100vh;
  background: #171719;
  position: relative;
}
.top__list{
  animation-duration: .4s;
  backface-visibility: hidden;
  animation-timing-function: ease;
  width: 100%;
  // padding-right:1rem;
  // padding-top: 1rem;
  // padding-left: 1rem;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.preview__figure{
  padding-top: 140% ;
  cursor: pointer;
  position: relative;
  @include bgCover($_pos:center);
  width: 100%;
}


.preview{
  @include imagePlaceholder();
  margin-right:1rem;
  margin-bottom: 2rem;
  width: calc((100% / 6) - 1rem + 0.16666667rem);
  &:nth-child(6n){
    margin-right: 0;
  } 
  &__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
    .title{
      font-size: 1.7rem;
      font-weight: 400;
      margin-bottom: .5rem;
    }
    .fa{
      color: #FADA49;
    }
    .rating{
      display: flex;
      align-items: center;
    }
    .vote__text{
      margin-left: 1rem;
      margin-right: .5rem;
    }
    .count{
      color: #a5a5a5;
    }
  }
}
.solo{
  // width: 40%;
  // height: 100%;
  padding: 0;
  .preview{
    width: 100%;
    margin: 0;
  }
  .top__list{
    justify-content: center;
    align-items: center;
  }
  .preview__text{
    display: none;
  }
  .preview__figure{
    height: 740px;
    background-color: rgba(0, 0, 0, 0.651);
    background-blend-mode: overlay;
  }

}

.noScroll{
  overflow: hidden;
}

.banner__img{
  object-fit: cover;
  object-position: center;
  width: fit-content;
}